<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>You've Got Mail.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3FBA0071DBDDE8200C24F53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3FBA01E1DBDDE8300C24F53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3FBA0291DBDDE8300C24F53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
